{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <script src="{% static 'js/registro.js' %}" defer></script>
</head>
<body>
    <header class="login-header">
        <img src="{% static 'img/logonovocentro.png' %}" alt="Logo" class="logo">
    </header>
    <main>
        <div class="login-container">
            <h1>Registro</h1>
            <form method="POST">
                {% csrf_token %}
                
                <label for="nombre_completo">Nombre Completo:</label>
                <input type="text" id="nombre_completo" name="nombre_completo" required>
                
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required>
                
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <label for="confirm_password">Confirmar Contraseña:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                
                <button type="submit">Registrarse</button>
            </form>
            <p>¿Ya tienes una cuenta? 
                <a href="{% url 'inicio_sesion' %}">Inicia Sesión</a>
            </p>
        </div>
    </main>
</body>
</html>
